{{#each model as |toDoList|}}
  <div class="to-do-board">
  <p class="board-name">{{toDoList.name}}</p>
  <div class="list">

    {{#each toDoList.lists as |list|}}

    {{#draggable-dropzone dropped=(action "addDraggedCard" list.id)}}

      <div class="cards-list-container" id={{list.id}}>
        <div class="list-header">
          <input value={{list.listName}} class="list-title"/>
          <button {{action "deleteList" list}} class="delete">Delete List</button>
        </div>

        <div class="cards-list">
            {{#each list.cards as |card|}}
            {{#draggable-item content=card.id}}

              <div class="card">
                <span class="card-header">
                  <input value={{card.title}} class="list-title"/>
                  <button {{action "deleteCard" card list}} class="delete">Delete Card</button>
                </span>
                <input value={{card.description}} class="card-desc"/>
                {{textarea value=card.newComment class="comment-input" placeholder="Please enter your comments"}}
                <button class="add-comment-btn" {{action "addComment" card}}>Add Comment</button>
                <div class="comments-list">
                  {{#each card.comments as |comment|}}
                    <div class="comments">
                      <p>{{comment.content}}</p>
                    </div>
                  {{/each}}
                </div>
              </div>
              {{/draggable-item}}

            {{/each}}


          <div class="card" {{action "addNewCard" list}}>
            Add New Card ...
          </div>
        </div>
      </div>
      {{/draggable-dropzone}}

    {{/each}}
    <div class="cards-list-container new-list-btn">
      <div class="cards-list" {{action "addNewList"}}>
        Add New List ...
      </div>
    </div>
  </div>
</div>
{{/each}}
